@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #0c160b;
  overflow: hidden;
  color: rgb(161, 161, 161);
}

body {
  font-family: "Inter var", sans-serif;
  font-size: 14px;
  background: black;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
}

#slide {
  position: absolute;
  border-left: 1px solid rgb(31, 31, 31);
}
